* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	overflow: hidden;
}

@media only screen and (max-width: 640px),only screen and (max-device-width:640px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (max-width: 600px),only screen and (max-device-width:600px) {
	html {
		font-size: 11px;
	}
}

@media only screen and (max-width: 480px),only screen and (max-device-width:375px) {
	html {
		font-size: 10.6px;
	}
}

body {
	color: #555;
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: 0.1rem;
	background-color: #f7f7f7;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

pre {
	font-family: monospace;
	font-size: 1em;
}

a {
	color: #555;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1rem;
}

dfn {
	font-style: italic;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

video::-webkit-media-controls {
	display: none !important;
}

video::-webkit-media-controls-enclosure {
	display: none !important;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: #666;
	font-size: 1.2rem;
	line-height: 2rem;
	-webkit-appearance: none;
	-webkit-user-select: text;
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

input:focus,
select:focus,
textarea:focus {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-modify: read-write-plaintext-only;
}

select:focus {
	-webkit-user-modify: read-only;
}

ul,
ol {
	list-style: none;
}

em,
i {
	font-style: normal;
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.top-pad {
	margin-top: 4.5rem;
}

.bot-pad {
	margin-bottom: 4.2rem;
}

.tip {
	width: 100%;
	line-height: 5rem;
	text-align: center;
	color: #b8cbda;
	display: inline-block;
}

.bar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	z-index: 10;
	background-color: #fff;
}

.title {
	position: absolute;
	left: 20%;
	top: 0;
	width: 60%;
	z-index: 11;
	font-size: 1.4rem;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bar-header {
	top: 0;
}

.bar-back {
	min-width: 5rem;
	float: left;
	text-align: left;
	padding-left: 1rem;
	z-index: 13;
}

.bar-tap {
	min-width: 5rem;
	color: #fcfcfc;
	float: right;
	text-align: right;
	padding-right: 1rem;
	z-index: 12;
}

.bar-footer {
	height: 4.2rem;
	bottom: 0;
	line-height: 1.8rem;
	display: table;
	table-layout: fixed;
	background-color: #fff;
}

.bar-item {
	color: #aaa;
	display: table-cell;
	text-align: center;
}

.bar-label {
	font-size: 1rem;
	line-height: 1.6rem;
}

.slide {
	width: 100%;
	min-height: 10%;
	max-height: 47%;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.slide img {
	vertical-align: middle;
	max-width: 100%;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f7f7f7;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-moz-transform: translate(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 900;
	display: none;
}

.pop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 30rem;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  z-index: 901;
  background-color: #fff;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
		  transform: translateY(100%);
	-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
}

.jus {
	position: relative;
	height: 40px;
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: initial;
	word-break: break-all;
	overflow: hidden;
}

.jus::after {
	position: absolute;
	bottom: 0;
	content: '';
	right: 0;
	display: block;
	width: 100%;
	height: 24px;
	background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 96%);
	background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(96%,#fff));
	background: linear-gradient(to right,rgba(255,255,255,0),#fff 96%);
}

#load {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
	-webkit-transition: opacity ease .8s;
	transition: opacity ease .8s;
}

.load-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12rem;
	height: 12rem;
	margin: -6rem auto 0 -6rem;
}

.load-bar {
	width: 6rem;
	height: 3rem;
	margin: 1rem auto 0;
	overflow: hidden;
}

.load-bar div {
	width: .5rem;
	height: 3rem;
	margin: 2.5rem 0.5rem 0;
	background-color: #fff;
	float: left;
}

.load-text {
	width: 100%;
	color: #fcfcfc;
	text-align: center;
	margin-top: 0.8rem;
}

.bar1,
.bar2,
.bar3,
.bar4 {
	-webkit-animation: bar 1.5s infinite;
			animation: bar 1.5s infinite;
}

.bar2 {
	-webkit-animation-delay: .3s;
			animation-delay: .3s;
}

.bar3 {
	-webkit-animation-delay: .6s;
			animation-delay: .6s;
}

.bar4 {
	-webkit-animation-delay: .9s;
			animation-delay: .9s;
}

@-webkit-keyframes bar{
	0% {
		margin-top: 2.5rem;
	}
	50% {
		margin-top: 0;
	}
	100% {
		margin-top: 2.5rem;
	}
}
@keyframes name{
	0% {
		margin-top: 2.5rem;
	}
	50% {
		margin-top: 0;
	}
	100% {
		margin-top: 2.5rem;
	}
}

.xycon {
	width: 100%;
	float: left;
	padding: 15px;
	font-size: 1.4rem;
	line-height: 2.2rem;
	overflow: hidden;
}

.xycon img {
	max-width: 100%;
}
